
<p><%= link_to "Private Nachrichten", :conversations %></p>

<%= simple_form_for :conversation, url: :conversations do |f| %>
  <%= f.input :recipients%>
    <%= f.input :subject         %>
    <%= f.input :body              %>
    <%= f.button :submit, class: 'btn-primary'%>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'%>

<% end %>