<%@title = "Neuen Job anlegen" %>

<%= simple_form_for @tender, :html => { :class => 'form-horizontal' } do |f| %>

    <% if @tender.errors.any? %>
        <ul>
          <% @tender.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

  <%= f.input :company_name ,:input_html =>{:value => @company_profile.company_name}%>
  <%= f.input :sector %>
  <%= f.input :subject%>
  <%= f.input :phone ,:input_html =>{:value => @company_profile.phone}%>
  <%= f.input :description%>
  <%= f.input :contact ,:input_html =>{:value => @company_profile.contact}%>
  <%= f.input :email ,:input_html =>{:value => @company_profile.email}%>
  <%= f.input :user_id, :as => :hidden,:input_html =>{:value => current_user.id}%>


    <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tenders_path, :class => 'btn' %>
  </div>
<% end %>
