<%= simple_form_for(@company_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :street %>
    <%= f.input :house_number %>
    <%= f.input :postal_code %>
    <%= f.input :city %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :email %>
    <%= f.input :contact %>
    <%= f.input :user_id, :as => :hidden,:input_html =>{:value => current_user.id}%>
  </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>

<% end %>
