<h1>Listing company_profiles</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Street</th>
    <th>House number</th>
    <th>Postal code</th>
    <th>City</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_profiles.each do |company_profile| %>
  <tr>
    <td><%= company_profile.company_name %></td>
    <td><%= company_profile.street %></td>
    <td><%= company_profile.house_number %></td>
    <td><%= company_profile.postal_code %></td>
    <td><%= company_profile.city %></td>
    <td><%= company_profile.phone %></td>
    <td><%= company_profile.fax %></td>
    <td><%= company_profile.email %></td>
    <td><%= company_profile.contact %></td>
    <td><%= link_to 'Show', company_profile %></td>
    <td><%= link_to 'Edit', edit_company_profile_path(company_profile) %></td>
    <td><%= link_to 'Destroy', company_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company profile', new_company_profile_path %>
