  <!-- Zum Erstellen eines Titels -->
  <% provide(:mainTitle, "Jobboerse") %>
  <!DOCTYPE html>
  <html>
  <head>
    <title><%= yield(:mainTitle)%> | <%= @title%></title>
    </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
       <h1> <%= link_to "Jobboerse", root_path, id: "logo" %></h1>
        <nav>
          <ul class="nav pull-right">

            <% if user_signed_in? %>

                <li><%= link_to "MessageBox", conversations_path%></li>

                <% if current_user.is_company%>
                    <li><%= link_to "Profil", '#' %></li>
                    <li><%= link_to "Job-Erstellen", '#' %></li>
                    <li><%= link_to "Job-View", '#' %></li>
                    <li><%= link_to "Job-Bewerber",    '#' %></li>
                <% else %>
                    <li><%= link_to "Profil", '#' %></li>
                    <li><%= link_to "Job's", '#' %></li>


                <% end %>

                <li><%= link_to "Abmelden", destroy_user_session_path, method: :delete %></li>

                <li id="user"><%= current_user.email %></li>



            <% else %>
                <li><%= link_to "Job's",  '#' %></li>
                <li><%= link_to "Anmeldung", new_user_session_path %></li>
                <li><%= link_to "Registrierung", new_user_path %></li>

            <% end %>



          </ul>
        </nav>
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>
  </div>
  <script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>
  <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript">
      (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  </script>
  <div id="content">
    <% if flash[:notice] %>
        <p id="notice">
          <%= flash[:notice] %>
        </p>
    <% end %>

    <%= yield %>
  </div>
</div>
</body>
</html>