<!-- Zum Erstellen eines Titels -->
<% provide(:mainTitle, "Jobboerse") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:mainTitle)%> | <%= @title%></title>
  </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Start Seite", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Jobbs",  '#' %></li>
          <li><%= link_to "Bewerber",    '#' %></li>
          <li><%= link_to "Anmeldung", login_path %></li>
          <li><%= link_to "Registrierung", users_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  <!-- drecks ding yield läd alle anderen pages auf diese page........ -->
  <%= yield %>
</div>
</body>
</html>